/*MOBILE DEVIVE RESPONSIVE*/
@media screen and (max-width:600px) {
    /*header area responsive*/
    .logo{
        min-width:150px;
    }
    .manu-area{
        display: none;
    
    }
    .nav-bar{
        display: block;
    
    }
    .logo img{
        width: 15%;
    }
    .logo h2{
        font-size: 1.6rem;
    }
    /*hero area responsive start*/
    .hero-content{
        top:-20rem;
      
    }
    .hero-content h1{
        margin-top: 4rem;
        font-size: 3rem;
        font-weight: 200;
    
    }
    .hero-content p{
        font-weight: 200;
        font-size: 1.2rem;
        line-height: 2rem;
        width:90%;
   
    }
    .input-fild{
        flex-direction:column;
        justify-content: start;
    
    }
    .input-fild select{
        width:100%;
        margin:2rem 0;
    }
    .input-fild button{
        width:100%;
        cursor: pointer;

    }
    /*popular area responsive*/
    .popular-are{
        flex-direction: column;
        
    }
    .popular-cotent{
        width:100%;
        margin-bottom: 2rem;
    
    }
    .popular-cotent h1{
        font-size: 3rem;
        font-weight: 400;
    
    }
   
    .popular-cotent>p{
        font-size: 1.4rem;
    }
    .popular-img{
        width:100%;
    }
    .popular-img img{
        width:100%;
       
    }

    /*choose area responsive style start*/
    .choose-area h1{
        font-size: 3rem;
        font-weight: 500;
    }
    .choose-area>p{
        font-size: 1.2rem;
        font-weight: 200;
        width:70%;
        line-height: 2rem;
    }
    .choose-cards{
        flex-direction: column;

    }
    .card{
        width:100%;
    }
    /*discount area responsive style start*/
    .discounts-area h1{
        font-size: 3rem;
        font-weight: 400;
    
    }
    .discounts-area p{
        font-size: 1.2rem;
        font-weight: 200;
    }
    .discount-content{
        width:80%;
        height:70%;
        left:0;
        right: 0;
    
    }
    
    .card-2{
        right:0;
    
    }

    /*place area responsive*/
    .place-area{
        flex-direction: column;
    }
    .place-content{
        width:100%;
    }
    .place-content h1{
        color: var(--normal-text-color);
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }
    .place-content p{
        font-size: 1.2em;;
        font-weight: 200;
        text-align: center;
     
    }
    .place-content ul li{
        font-size: 1.4rem;
        font-weight: 300;
    
    }
    .place-content button{
        padding:1rem 2rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        
    }
    .place-video{
        width:100%;
    }
    .place-video img{
        width:100%;
    }
    /*news area responsive start*/
    .news-area{
        flex-direction: column;
        justify-content: center;
        
    }
    .news-singin-area{
        width:100%;
        margin-bottom:1rem;
    }
    .news-img{
        width:100%;
    }


    /*location area respnsive start*/
    .location-area h1{ 
        font-size: 3rem;
        font-weight: 400;
    
    }
    /*footer area responsive start*/
    #footer{
        padding:2rem 0;
       
    }
    .footer-logo p{
        width:90%;
        font-weight: 200;
    }
    .logo-footer{
        min-width: 277px;;
    }
    .logo-footer img{
        width:20%;
    }

}

/*TABLATE DEVICE RESPONSIVE*/
@media screen and (min-width:601px) and (max-width:900px){
    /*header area responsive start*/
    .logo{
        min-width:230px;
    }
    .nav-area li a{
        font-size: 1.4rem;
        font-weight: 200;
        margin-left: 10px;
    }
    .logo img{
        width: 15%;
    }
    .logo h2{
        font-size: 1.6rem;
        font-weight: 400;
    }
    /*hero area responsive start*/
    .hero-content{
        top:-13rem;
      
    }
    .hero-content h1{
        font-size: 4.4rem;
        font-weight: 400;
      
    
    }
    .input-fild{
       flex-direction: column;
    
    }
    .input-fild select{
        width:100%;
        margin:2rem 0;
    }
    .input-fild button{
        width:100%;

    }
        /*popular area responsive*/
        .popular-are{
            flex-direction: column;
            
        }
        .popular-cotent{
            width:100%;
            margin-bottom: 2rem;
        
        }
        .popular-cotent h1{
            font-size: var(--heading-text);
            font-weight: 400;
        
        }
       
        .popular-cotent>p{
            font-size: 1.6rem;
        }
        .popular-img{
            width:100%;
        }
       
        .popular-img img{
            width:100%;
           
        }
        /*discount area responsive*/
        .discount-content{
            width:60%;
            height:75%;
            left:0;

    
        }
        .card-2{
            right:0;
            left:0;
        
        }

}